
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Página no encontrada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <body class="bg-slate-900 text-slate-100 flex flex-col items-center justify-center min-h-screen p-6">
    <img src="/public/img/civicon-bl.png" alt="Logo" style="height: 100px;" />

    <h1 class="text-5xl font-bold mb-4">Error 404</h1>
    <p class="text-lg mb-6 text-center max-w-md">
      La página que buscas no existe o fue eliminada. Pero no te preocupes, aún puedes volver al inicio.
    </p>

    <a href="/" class="bg-#CC0000-600 hover:#970101-500 text-white font-semibold py-2 px-4 rounded-lg transition">
      Volver al inicio
    </a>
  </body>
</html>
